java.executable=/System/Library/Frameworks/JavaVM.framework/Versions/Current/Commands/java
gwt.home.dir=/Applications/_Programowanie/gwt-mac/
gwt.dev.jar=${gwt.home.dir}/gwt-dev-mac.jar
app.url=http://localhost:8080/project-ark
