
body,html 	{height: 100%}
body 		{background-image: url('../images/simple_night_sky.png'); width: 100%; height: 100%;}

.cursorPointer {cursor: pointer;}

#chooseDemoPanel {
	position: absolute; top: 0; left: 0;
}
#chooseDemoPanel div {
    background-color: black;
    border: 2px solid #221111;
    border-radius: 10px 10px 10px 10px;
    color: #990000;
    cursor: pointer;
    font-family: Verdana;
    font-size: 16px;
    margin: 10px 0 0 10px;
    padding: 4px;
}
#chooseDemoPanel div:hover {
	color: red;
	border-color: #441111;
}

#mainPanel {	
	width: 600px;
	height: 600px;
	position: absolute; top:50%; left: 50%;
	margin-top: -300px;
	margin-left: -300px;
	background-image: url('../images/nebula_X.png');
}

#mainPanel .selector_1 {
	width: 160px; height: 160px;
	position: absolute; top: 20px; left: 20px;
}
#mainPanel .selector_2 {
	width: 160px; height: 160px;
	position: absolute; top: 20px; left: 225px
}
#mainPanel .selector_3 {
	width: 160px; height: 160px;
	position: absolute; top: 20px; left: 430px;
}
#mainPanel .selector_4 {
	width: 160px; height: 160px;
	position: absolute; top: 225px; left: 20px;
}
#mainPanel .selector_5 {
	width: 160px; height: 160px;
	position: absolute; top: 225px; left: 225px;
}
#mainPanel .selector_6 {
	width: 160px; height: 160px;
	position: absolute; top: 225px; left: 430px;
}
#mainPanel .selector_7 {
	width: 160px; height: 160px;
	position: absolute; top: 430px; left: 20px;
}
#mainPanel .selector_8 {
	width: 160px; height: 160px;
	position: absolute; top: 430px; left: 225px;
}
#mainPanel .selector_9 {
	width: 160px; height: 160px;
	position: absolute; top: 430px; left: 430px;
}

div.selector {
	border: 1px solid #909090;
	overflow: hidden;
}
div.highlighted {
	border: 1px solid #0000f0;
}

div.selector div {
	position: absolute; top: 10px; left: 10px;
	font-family: Verdana;
	font-size: 26px;
	color: white;
}

div.selector img {
	position: absolute;
}

img.small {
	width: 64px; height: 64px;
}
img.rounded {
	border: 1px solid #000090;
	border-radius: 20px;
}
img.square {
	border: 1px solid #009000;
}
img.rotated {
	border: 1px solid #909000;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}

div.beforeAnimation {
	border: 1px solid #909090;
	background-color: #000000;
}
div.afterAnimation {
	border: 1px solid #900000 !important;
	background-color: #300000 !important;
	width: 100px !important;
	height: 50px !important;
}


